.card-message {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 60vh; 
    overflow-y: auto;  
    padding: 1rem; 
    border: 1px solid rgba(255, 255, 255, 8%);
    background-color: #363636;
    border-radius: 16px;
}

/* pour chrome et safari */
.card-message::-webkit-scrollbar {
    width: 16px; 
}

.card-message::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); 

}

.card-message::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 16px;
}

.card-message::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5); 
}

/* pour firefox */
@supports (scrollbar-color: auto) {
    .card-message {
        scrollbar-width: thin; 
        scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1); 
    }
}