@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sixtyfour+Convergence&display=swap');

button {
  font-family: "Sixtyfour Convergence", sans-serif;
}

p, div, span, h1, h2, h3, h4, h5 {
  color: #fff;
  font-family: "Merriweather", serif;
}

body {
  background-color: #242424;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

header > h1 {
  text-align: center;
}

button {
  background-color: #363636;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 40px;
  transition: background-color .3s ease, transform .3s ease, box-shadow .3s ease;
}

button:hover {
  background-color: #4b4b4b;
  box-shadow: 0 4px 8px #0003;
  transform: translateY(-2px);
}

textarea {
  background-color: #363636;
  border: 2px solid #fff3;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0003;
  color: #fff;
  font-size: 16px;
  height: 15vh;
  width: 50vw;
  padding: 15px;
  resize: none;
  transition: border-color .3s ease, box-shadow .3s ease;
}

.card-connexion > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  padding: .75em .77em;
  background-color: #242424;
  border: 1px solid #7a7a7a;
  color: #fff;
}

input:focus {
  border: 1px solid rgb(255, 255, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.p-error {
  text-align: center;
}

@media (max-width: 500px) {
  
  textarea {
    width: 80vw;
  }
}